body, html{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    margin: 0;
    background-color: rgba(177, 174, 174, 0.87);
}
#users{
    float: right;
    color: rgb(56, 248, 56);
}



#topImage {
    /* The image used */
    background-image: url("https://wallpaperscraft.com/image/banknote_currency_money_numbers_50323_1920x1080.jpg");

    /* Full height */
    height: 418px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-block-end: 50%;
}



.jumbotron, h1.small, #entry-panel, #product{
    text-align: center;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    background-color: rgba(28, 29, 28, 0.733);
    border-width: 5px;
    margin: 15px;
}
.form1{
    text-align: center;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    background-color: rgba(28, 29, 28, 0.733);
    border-color:  rgba(2, 73, 167, 0.726);
    border-width: 5px;
    /* margin: 15px;  */
}
.rowform1{
    border-color:  rgba(2, 73, 167, 0.726);
    border-width: 5px;
}

#enter-product{
    width: 50%;
    margin: 0 auto;
    
}

.form-control:focus {
    border-color: #FF6600;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(22, 19, 160, 0.6);
  }
  


  .panel-default {
      float: left;
      background-color: rgba(28, 29, 28, 0.733);
  }

  .ebayBox, .walmartBox {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 60px;

    text-align: center;

  }
  #whitetext{
    color: whitesmoke;
  }

.panel-heading.walmartBox, .panel-heading.ebayBox{
    background-color: rgba(28, 29, 28, 0.733);
    text-align: center;
}
    
  #ebay, #walmart {
    color: whitesmoke;
    background-color: rgba(28, 29, 28, 0.733);
    text-align: center;

  }
  #count{
    
        color: rgba(252, 65, 65, 0.918);
        font-weight: bold;

}
span{
    
    color: whitesmoke;
    animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
15%{opacity: .9;}
100%{opacity: 1;}
}




